In [9]:
import pandas as pd

file_path = r'F:\Uni Y3\tesi\botfeatimg\img\botfeatres.xlsx'
df = pd.read_excel(file_path)

# if more than half the colums have a 0 value drop it
columns_to_drop = [col for col in df.columns if (df[col] == 0).sum() > len(df) / 2]
df = df.drop(columns=columns_to_drop)

# save file
output_file_path = r'F:\Uni Y3\tesi\botfeatimg\botfeatres2.xlsx'
df.to_excel(output_file_path, index=False)

print(f"Columns dropped: {columns_to_drop}")
print(f"Modified DataFrame saved to {output_file_path}")

Columns dropped: [1, 2, 7, 9, 11, 12, 14, 17, 19, 20, 21, 22, 26, 27, 29, 30, 32, 33, 44, 46, 49, 50, 51, 56, 62, 63, 64, 68, 72, 74, 76, 78, 79, 80, 85, 93, 95, 97, 98, 99, 100, 102, 103, 105, 106, 108, 109, 111, 119, 122, 123, 124, 126, 127, 129, 130, 131, 133, 135, 137, 139, 140, 141, 146, 148, 155, 157, 158, 160, 163, 171, 172, 173, 174, 176, 178, 180, 181, 182, 184, 186, 187, 188, 192, 194, 197, 200, 201, 202, 206, 207, 208, 209, 211, 213, 214, 218, 220, 221, 223, 226, 227, 229, 231, 237, 239, 242, 244, 245, 246, 248, 250, 253, 254, 255, 256, 257, 258, 259, 260, 264, 265, 268, 269, 274, 275, 276, 282, 284, 287, 288, 291, 292, 294, 296, 298, 299, 300, 302, 303, 313, 316, 318, 319, 320, 321, 324, 326, 327, 328, 329, 332, 335, 339, 340, 341, 343, 345, 346, 347, 355, 356, 358, 361, 362, 365, 366, 370, 375, 378, 379, 380, 388, 392, 393, 394, 395, 397, 399, 404, 407, 408, 409, 410, 413, 418, 419, 421, 424, 429, 432, 434, 437, 438, 439, 440, 442, 443, 447, 451, 452, 460, 462, 465, 468, 471, 472, 476, 479, 481, 482, 489, 492, 494, 495, 496, 497, 498, 500, 502, 505, 509, 513, 514, 515, 517, 518, 520, 522, 524, 525, 526, 530, 532, 533, 537, 538, 539, 542, 547, 549, 550, 551, 552, 556, 559, 562, 563, 568, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 586, 588, 590, 594, 596, 597, 598, 599, 600, 602, 611, 612, 615, 617, 618, 619, 620, 621, 622, 623, 624, 627, 629, 631, 635, 637, 639, 641, 645, 648, 651, 652, 653, 655, 658, 661, 662, 664, 665, 666, 667, 668, 672, 676, 677, 678, 679, 680, 682, 684, 685, 686, 688, 689, 690, 691, 692, 693, 697, 700, 709, 711, 712, 713, 715, 716, 719, 720, 722, 724, 727, 730, 731, 732, 737, 738, 739, 742, 743, 744, 747, 748, 749, 750, 752, 753, 756, 762, 763, 765, 767, 768, 769, 771, 772, 773, 776, 779, 780, 782, 784, 786, 787, 788, 790, 791, 793, 796, 797, 799, 801, 806, 809, 811, 813, 815, 816, 817, 818, 821, 822, 825, 827, 831, 834, 839, 844, 846, 847, 849, 853, 854, 855, 862, 863, 865, 867, 869, 870, 872, 874, 876, 878, 880, 887, 888, 889, 893, 895, 896, 899, 904, 907, 908, 909, 910, 912, 914, 916, 917, 918, 921, 923, 924, 927, 930, 934, 935, 936, 939, 940, 942, 943, 944, 945, 946, 947, 955, 957, 959, 963, 964, 965, 967, 969, 972, 973, 975, 976, 977, 980, 983, 984, 986, 988, 989, 991, 992, 993, 994, 999, 1000, 1002, 1003, 1004, 1006, 1008, 1010, 1011, 1017, 1019, 1021, 1022, 1023, 1024, 1026, 1028, 1030, 1031, 1032, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1045, 1047, 1049, 1051, 1053, 1054, 1057, 1059, 1061, 1062, 1065, 1066, 1068, 1069, 1070, 1079, 1085, 1086, 1088, 1091, 1092, 1093, 1095, 1096, 1097, 1102, 1106, 1108, 1109, 1110, 1112, 1114, 1115, 1116, 1118, 1119, 1120, 1121, 1125, 1134, 1136, 1137, 1138, 1140, 1142, 1145, 1146, 1147, 1149, 1151, 1153, 1154, 1155, 1158, 1159, 1165, 1166, 1168, 1172, 1174, 1175, 1177, 1178, 1181, 1187, 1188, 1189, 1190, 1192, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1204, 1205, 1209, 1217, 1219, 1220, 1221, 1223, 1224, 1226, 1227, 1229, 1230, 1232, 1234, 1236, 1237, 1240, 1241, 1243, 1244, 1246, 1247, 1249, 1250, 1252, 1253, 1254, 1256, 1257, 1262, 1264, 1265, 1266, 1269, 1271, 1272, 1276, 1280, 1281, 1282, 1283, 1286, 1290, 1291, 1292, 1293, 1294, 1296, 1301, 1304, 1305, 1306, 1308, 1309, 1310, 1312, 1313, 1316, 1317, 1320, 1321, 1322, 1331, 1335, 1336, 1339, 1340, 1345, 1347, 1353, 1356, 1360, 1361, 1362, 1364, 1366, 1368, 1370, 1371, 1372, 1374, 1375, 1376, 1377, 1379, 1381, 1382, 1384, 1385, 1386, 1391, 1392, 1394, 1395, 1397, 1398, 1399, 1400, 1401, 1402, 1404, 1405, 1407, 1409, 1410, 1411, 1413, 1414, 1420, 1422, 1423, 1424, 1425, 1427, 1428, 1430, 1433, 1437, 1438, 1443, 1445, 1446, 1447, 1450, 1451, 1452, 1457, 1459, 1460, 1463, 1464, 1466, 1467, 1469, 1470, 1473, 1474, 1476, 1478, 1482, 1483, 1485, 1487, 1488, 1489, 1492, 1493, 1495, 1497, 1502, 1505, 1506, 1507, 1509, 1512, 1514, 1515, 1520, 1521, 1523, 1525, 1528, 1529, 1530, 1531, 1532, 1533, 1535, 1536, 1539, 1540, 1542, 1543, 1544, 1545, 1547, 1549, 1550, 1552, 1553, 1554, 1556, 1559, 1561, 1563, 1564, 1566, 1571, 1572, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1587, 1590, 1591, 1592, 1593, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1606, 1609, 1610, 1611, 1615, 1618, 1619, 1620, 1621, 1623, 1624, 1628, 1629, 1630, 1637, 1639, 1648, 1649, 1653, 1657, 1659, 1662, 1664, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1675, 1676, 1677, 1679, 1682, 1684, 1687, 1688, 1689, 1694, 1696, 1700, 1702, 1703, 1704, 1705, 1706, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1719, 1720, 1723, 1724, 1725, 1731, 1733, 1734, 1738, 1739, 1740, 1742, 1743, 1745, 1747, 1748, 1750, 1751, 1753, 1755, 1756, 1759, 1760, 1761, 1764, 1766, 1770, 1771, 1773, 1775, 1777, 1778, 1779, 1782, 1786, 1787, 1788, 1796, 1797, 1802, 1803, 1804, 1805, 1807, 1808, 1810, 1813, 1816, 1820, 1821, 1822, 1828, 1829, 1830, 1831, 1832, 1835, 1836, 1840, 1841, 1843, 1846, 1849, 1850, 1851, 1852, 1853, 1856, 1857, 1859, 1864, 1865, 1869, 1871, 1879, 1880, 1882, 1885, 1889, 1890, 1891, 1893, 1894, 1896, 1898, 1903, 1904, 1905, 1906, 1908, 1909, 1910, 1911, 1912, 1914, 1915, 1917, 1918, 1920, 1921, 1922, 1924, 1925, 1927, 1930, 1931, 1932, 1933, 1934, 1936, 1937, 1938, 1939, 1942, 1943, 1945, 1948, 1949, 1950, 1951, 1952, 1954, 1955, 1956, 1957, 1958, 1960, 1961, 1962, 1964, 1965, 1966, 1969, 1970, 1971, 1972, 1974, 1975, 1976, 1978, 1980, 1981, 1983, 1985, 1988, 1989, 1991, 1992, 1994, 1997, 2000, 2002, 2004, 2005, 2007, 2008, 2009, 2013, 2019, 2023, 2024, 2027, 2029, 2031, 2034, 2036, 2037, 2038, 2039, 2040, 2041, 2043, 2045, 2047]
Modified DataFrame saved to F:\Uni Y3\tesi\botfeatimg\botfeatres2.xlsx